Repository cloudposse-terraform-components/aws-ecs-service, pull requests merged in 2025-06, with the labels that each got.

#26 Enable merge queue
  .github/CODEOWNERS
  .github/settings.yml
Labels: auto-update, no-release, migration

#39 remove datadog lookup
  src/datadog-agent.tf
  src/remote-state.tf
Labels: major, needs-test

#41 Bugfix: deprecated params & unused datasource from lookup
  src/datadog-agent.tf
  src/main.tf
Labels: bugfix, patch
